body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(https://cdn.discordapp.com/attachments/948302328803495939/962780731606700052/unknown.png)
}

#login .container #login-row #login-column #login-box {
    height: 350px;
    margin-top: 240px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #EAEAEA;
    box-shadow: 10px 15px 35px rgba(55, 64, 71, 0.315);
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#id_username {
    width: 100%;
    height: 10%;
    font-size: 100%;
}

#id_password {
    width: 100%;
    height: 10%;
    font-size: 100%;
}

