{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <div id="login">

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            {# <-------- USERNAME  -------->#}
                            <div class="form-group">
                                <label for="username" class="text-info">
                                    {{ form.username.label_tag }}
                                </label><br>
                                <label id="id_username">
                                    {{ form.username }}
                                </label>
                            </div>
                            {# <-------- PASSWORD  -------->#}
                            <div class="form-group">
                                <label for="password" class="text-info">
                                    {{ form.password.label_tag }}
                                </label><br>
                                <label id="id_password">
                                    {{ form.password }}
                                </label>
                            </div>
                            {# <-------- REMEMBER ME  -------->#}
                            <div class="form-group">
                                <label for="remember-me" class="text-info">
                                    <span>Remember me</span> <span><input
                                        id="remember-me" name="remember-me" type="checkbox"></span>
                                </label><br>
                                <button class="btn btn-info btn-md">
                                    Login
                                </button>
                            </div>
                            {# <-------- REGISTER HERE  -------->#}
                            <div id="register-link" class="text-right">
                                <a href={% url 'user register' %} class="text-info">
                                    Register here
                                </a>
                            </div>
                        </form>
                    </div>
                    {# <-------- TODO - Errors; Forgot password  -------->#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}