{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div id="login">

        <div class="container">
            {% csrf_token %}
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Register</h3>
                            {# <-------- USERNAME  -------->#}
                            <div class="form-group">
                                <label for="username" class="text-info">
                                    {{ form.email.label_tag }}
                                </label><br>
                                <label id="id_username">
                                    {{ form.email }}
                                </label>
                            </div>
                            {# <-------- PASSWORD  -------->#}
                            <div class="form-group">
                                <label for="password" class="text-info">
                                    {{ form.password1.label_tag }}
                                </label><br>
                                <label id="id_password">
                                    {{ form.password1 }}
                                </label>
                            </div>
                            {# <-------- PASSWORD CONFIRMATION  -------->#}
                            <div class="form-group">
                                <label for="password" class="text-info">
                                    {{ form.password2.label_tag }}
                                </label><br>
                                <label id="id_password">
                                    {{ form.password2 }}
                                </label>
                            </div>
                            {# <-------- REGISTER BUTTON  -------->#}
                            <div class="form-group">
                                <button class="btn btn-info btn-md">
                                    Register
                                </button>
                            </div>

                        </form>
                    </div>
                    {# <-------- TODO - Errors  -------->#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}